@import url(reset.css);

.header	{
	width: 1440px;
	height: 200px;
	background-color: #E5E000; 
}

.heading	{
	text-align: left;
	color: #FFFFFF;
    font-weight: bold;
	font-size: 50px;
    line-height: 200px;
	font-family: 'PT Sans', sans-serif;
	padding-left: 80px;

}

.image	{
	width: 1440px; height: 1080px;
	background-image:url(../img/img.png);
	background-attachment: fixed;

}

.links-container {
	width: 1440px;
	height: 100px;
	background-color: #E5E000;
	font-family:'PT Sans', sans-serif;
	font-size: 25px;
    line-height: 110px; 
    color: #FFFFFF;

	
}

.links-text {
	text-align: center;
	color: #FFFFFF;
	text-transform: uppercase;
	font-family:'PT Sans', sans-serif;
	font-size: 25px;
    line-height: 110px; 
    

}

.text-container {
	width: 1280px;
	height: 627px;

}

.text-h {
	font-family: 'PT Sans Narrow', sans-serif;
	color: black;
	font-size: 50px;
	font-weight: bold;
	line-height: 57px;
	padding-left: 80px;
}

.main-text {
	font-family: 'PT Sans Narrow', sans-serif;
	color: black;
	font-size: 50px;
	line-height: 57px;
	padding-left: 80px;

}

.footer-container {
	width: 1440px;
	height: 200px;
	background-color: #E5E000;
}

.logo {
	padding-left: 80px;
	padding-top: 77px;
	}

